html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 10%;
}